*{
    margin: 0;
    padding: 0;
}
body{
    background: #323537;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.div1{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-image: linear-gradient(to right, rgba(80, 40, 199, 0.521), rgba(119, 88, 190, 0.295), rgba(255, 255, 255, 0.021), rgba(255, 255, 255, 0.007));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    height: 15%;
    width: 30%;
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.div1-2{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-image: linear-gradient(to right, rgba(80, 40, 199, 0.521), rgba(119, 88, 190, 0.295), rgba(255, 255, 255, 0.021), rgba(255, 255, 255, 0.007));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    height: 15%;
    width: 30%;
    position: absolute;
    left: 25%;
    top: 30%;
    transform: translate(-50%, -50%);
}
.div1-3{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-image: linear-gradient(to right, rgba(80, 40, 199, 0.521), rgba(119, 88, 190, 0.295), rgba(255, 255, 255, 0.021), rgba(255, 255, 255, 0.007));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    height: 15%;
    width: 30%;
    position: absolute;
    left: 25%;
    top: 70%;
    transform: translate(-50%, -50%);
}
.div2{
   
}
.div3{
    border-radius: 50px;
    background: #37323200;
    box-shadow: 2px 4px 4px 0px rgba(102, 69, 198, 0.50);
    height: 5%;
    width: 12%;
    position: absolute;
    left: 55%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.div3-2{
border-radius: 50px;
background: #37323200;
box-shadow: 2px 4px 4px 0px rgba(102, 69, 198, 0.50);
height: 5%;
width: 12%;
position: absolute;
left: 70%;
top: 30%;
transform: translate(-50%, -50%);
}
.div3-3{
    border-radius: 50px;
background: #37323200;
box-shadow: 2px 4px 4px 0px rgba(102, 69, 198, 0.50);
height: 5%;
width: 12%;
position: absolute;
left: 85%;
top: 30%;
transform: translate(-50%, -50%);
}
.div3-4{
    border-radius: 50px;
background: #37323200;
box-shadow: 2px 4px 4px 0px rgba(102, 69, 198, 0.50);
height: 5%;
width: 12%;
position: absolute;
left: 85%;
top: 45%;
transform: translate(-50%, -50%);
}
.div3-5{
    border-radius: 50px;
background: #37323200;
box-shadow: 2px 4px 4px 0px rgba(102, 69, 198, 0.50);
height: 5%;
width: 12%;
position: absolute;
left: 70%;
top: 45%;
transform: translate(-50%, -50%);
}
.div3-6{
    border-radius: 50px;
background: #37323200;
box-shadow: 2px 4px 4px 0px rgba(102, 69, 198, 0.50);
height: 5%;
width: 12%;
position: absolute;
left: 55%;
top: 45%;
transform: translate(-50%, -50%);
}
.div3-7{
    border-radius: 50px;
background: #37323200;
box-shadow: 2px 4px 4px 0px rgba(102, 69, 198, 0.50);
height: 5%;
width: 12%;
position: absolute;
left: 85%;
top: 60%;
transform: translate(-50%, -50%);
}
.div3-8{
    border-radius: 50px;
background: #37323200;
box-shadow: 2px 4px 4px 0px rgba(102, 69, 198, 0.50);
height: 5%;
width: 12%;
position: absolute;
left: 70%;
top: 60%;
transform: translate(-50%, -50%);
}
.div3-9{
    border-radius: 50px;
background: #37323200;
box-shadow: 2px 4px 4px 0px rgba(102, 69, 198, 0.50);
height: 5%;
width: 12%;
position: absolute;
left: 55%;
top: 60%;
transform: translate(-50%, -50%);
}
.div3-10{
    border-radius: 50px;
background: #37323200;
box-shadow: 2px 4px 4px 0px rgba(102, 69, 198, 0.50);
height: 5%;
width: 12%;
position: absolute;
left: 70%;
top: 75%;
transform: translate(-50%, -50%);
}

.line-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
}

.oi {
    display: flex;
    color: #F7EEEE;
    font-family: Lexend Deca;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    
}


.div4{
    height: 10%;
    width: 5%;
    position: absolute;
    left: 2.8%;
    top: 95%;
    transform: translate(-50%, -50%);
}
.div5{

}
.div5-2
{
   
}
.div6{
    color: #F7EEEE;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Lexend Deca;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 5%;
    width: 9%;
    position: absolute;
    left: 6%;
    top: 8%;
    transform:translate(-50%, -50%);
}
.div6-2{
    height: 5%;
    width: 3%;
    position: absolute;
    left: 12%;
    top: 8%;
    transform:translate(-50%, -50%);
}
.div7{
    color: #F7EEEE;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Lexend Deca;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 5%;
    width: 9%;
    position: absolute;
    left: 28%;
    top: 8%;
    transform:translate(-50%, -50%);
}
.div7-2{
    height: 5%;
    width: 3%;
    position: absolute;
    left: 31%;
    top: 8%;
    transform:translate(-50%, -50%);
}
.div8{
    height: 8%;
    width: 20%;
    position: absolute;
    left: 50%;
    top: 7%;
    transform:translate(-50%, -50%);
}
.div9{
    color: #F7EEEE;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Lexend Deca;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 5%;
    width: 9%;
    position: absolute;
    left: 75%;
    top: 8%;
    transform:translate(-50%, -50%);
}
.div9-2{
    height: 5%;
    width: 3%;
    position: absolute;
    left: 81%;
    top: 8%;
    transform:translate(-50%, -50%);
}
.div10{
    color: #F7EEEE;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Lexend Deca;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 5%;
    width: 9%;
    position: absolute;
    left: 93%;
    top: 8%;
    transform:translate(-50%, -50%);
}
.div10-2{   
    height: 5%;
    width: 3%;
    position: absolute;
    left: 96%;
    top: 8%;
    transform:translate(-50%, -50%);
}
header{
    width: 100vw;
    height: 150px;
    border-bottom: 1px solid #F7EEEE;
    opacity: 0.8;
}